@model TravelAgencyP.Models.AdminInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - About Us</title>
    <link href="~/Css/HomeCss/Homecss.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <style>
        P {
            text-align: center;
            margin: 100px 0;
            padding: 50px;
            font-size: 25px;
        }

        h1 {
            text-align: center;
        }

        i {
            text-align: center;
        }

        strong {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="topnav">
        <a href="/HomeTravel/HomePage">Home</a>
        <a href="#news">Find Flight</a>
        <a href="/HomeTravel/LoginAdmin">Login  AdmiN</a>
        <a class="active" href="/HomeTravel/AboutUs">AbouTUs</a>
    </div>
    <h1> About Our Travel Egancy</h1>
    <p>
        <i>
            <strong>
                We are Israel Lasry and Yam Biton two young software developers and travel agents.
                <br />
                In our free time we decided to set up a website that would help people book cheap flights to any destination in the world without much effort.
                <br />
                On my part by an attractive search by flight destination/price/flight date/airline.
                <br />
                All this to make it easier for you to fly around the world cheaply and with fun!!!
                <br />
                Have a nice and good flight
            </strong>
        </i>
    </p>


</body>
</html>
